.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache
.config/BraveSoftware
.config/dconf
.config/emacs/auto-save-list
.config/emacs/elpa
.config/emacs/tramp
.config/emacs/%*
.config/gtk*
.config/libfm
.config/pcmanfm
.config/pulse
.config/Notepadqq
.config/QtProject.conf
.config/zsh/.histfile
.dmrc
.local
.pki
.pyenv
.rbenv
.ssh
.tfenv
.xsession-errors
.xsession-errors.old
Code
Downloads
Pictures
yay