.gsd-keyboard.settings-ported
argocd
autostart
balena-etcher-electron
beekeeper-studio
BraveSoftware
cef_user_data
chromium
Clementine
cni
configstore
Cursor
dconf
deezer-desktop
deluge
discord
dleyna-renderer-service.conf
dleyna-server-service.conf
Electron
Element
ecwolf
enchant
evolution
filezilla
fish/conf.d
fish/fish_variables
flameshot
Flat
gcloud
gedit
GIMP
go
gnome-control-center
gnome-initial-setup-done
GNOME-xdg-terminals.list
gtk-2.0
gtk-3.0
gtk-4.0
helm
hypr
ibus
libfm
LBRY
libreoffice
LM\ Studio
lutris
marlin
menus
Microsoft
mimeapps.list
monero-project
MongoDB\ Compass
monitors.xml
monitors.xml~
mozc
Mullvad\ VPN
nextjs-nodejs
nitrogen
Notepadqq
notion-app
omf
OpenRGB
org.gnome.Ptyxis
packer
pcmanfm
plank
pop-shell
Postman
puddletag
pulse
QtProject.conf
Raspberry\ Pi
spotify
StardewValley
strawberry
systemd
Tailscale
tiling-assistant
totem
touchegg
turso
unity3d
user-dirs.dirs
user-dirs.locale
uv
Vampire_Survivors*
virt-viewer
VirtualBox
vlc
VSCodium
xdg-terminals.list
XIVLauncher
yacm/default_profile
