autostart
balena-etcher-electron
BraveSoftware
Clementine
QtProject.conf
GIMP
cef_user_data
dconf
discord
falkon
fish/fish_variables
gtk-2.0
Kvantum
libfm
libinput-gestures.conf
libvirt
manjaro-hello.json
manjaro
mimeapps.list
packer
pamac
pavucontrol.ini
pcmanfm
pulse
qt5ct
spotify
StardewValley
Thunar
user-dirs.dirs
user-dirs.locale
virt-viewer
vlc
volumeicon
xfce4
